<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" routerLink='/home'>Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/products">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/category">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/order">Orders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/profile">Profile</a>
                  </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/user">Users</a>
                </li>
                <li class="nav-item dropdown">
                    <button type="button" class="btn btn-primary position-relative" routerLink="/cart">
                      <i class="bi bi-cart"></i>
                    </button>
                  </li>
            </ul>
            <div class="search mx-1">
                <input type="text" class="form-control" placeholder="What are you looking for?">
            </div>
            <div class="search">
                <button class="btn btn-primary"><i class="fa fa-search"></i>Search</button>
            </div>
            <div class="mx-3 align-right">
                <button class="btn btn-outline-primary" routerLink="/login">
                    <i class="bi bi-person-circle icon-blue align-left mx-auto"></i>
                    Login</button>
            </div>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="container-fluid" style="background-color: rgb(58, 175, 210);">
                <div class="container d-lg-flex  ps-lg-4 justify-content-center">
                    <div class="row mb-lg-5 mt-lg-5 fw-bold ">
                        <div class="col-md-12 text-wrap text-center ">
                            <button class="btn btn-primary btn-block " (click)="toggleCollapse()">Manage Orders<i class="ci-arrow-right"></i></button>
                            <div *ngIf="visible" class="mt-3">
                                <button class="btn btn-primary btn-block " (click)="initNewOrder()">Create New Order</button>
                                    <table>
                                        <thead>
                                            <th class="text-white">OrderId</th>
                                            <th class="text-white">UserId</th>
                                            <th class="text-white">DateOfOrder</th>
                                            <th class="text-white">DateOfDelivery</th>
                                            <th class="text-white">TotalPrice</th>
                                            <th class="text-white">OrderStatus</th>
                                            <th></th>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let order of orders">
                                                <td class="text-white mx-1">{{ order.orderId }}</td>
                                                <td class="text-white mx-1">{{ order.userId }}</td>
                                                <td class="text-white mx-1">{{ order.dateOfOrder }}</td>
                                                <td class="text-white mx-1">{{ order.dateOfDelivery }}</td>
                                                <td class="text-white mx-1">{{ order.totalPrice }}</td>
                                                <td class="text-white mx-1">{{ order.orderStatus }}</td>
                                                <td><button class="btn btn-primary btn-block " (click)="editOrder(order)">Edit</button></td>
                                            </tr>
                                        </tbody>
                                    </table>
            
                                    <app-edit-order [order]="orderToEdit" (orderUpdated)="updateOrderList($event)">
                                    </app-edit-order>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <app-order-product></app-order-product>
        </div>
    </div>
</div>
