<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" routerLink='/home'>Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/products">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/category">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/order">Orders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/profile">Profile</a>
                  </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/user">Users</a>
                </li>
            </ul>
            <div class="search mx-1">
                <input type="text" class="form-control" placeholder="What are you looking for?">
            </div>
            <div class="search">
                <button class="btn btn-primary"><i class="fa fa-search"></i>Search</button>
            </div>
            <div class="mx-3 align-right">
                <button class="btn btn-outline-primary" routerLink="/login">
                    <i class="bi bi-person-circle icon-blue align-left mx-auto"></i>
                    Login</button>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid" style="background-color: rgb(58, 175, 210);">
    <div class="container d-lg-flex  ps-lg-4 justify-content-center">
        <div class="row mb-lg-5 mt-lg-5 fw-bold ">
            <div class="col-md-12 text-wrap text-center ">
                <button class="btn btn-primary btn-block " (click)="toggleCollapse()">Manage Users<i class="ci-arrow-right"></i></button>
                <div *ngIf="visible" class="mt-3">
                    <button class="btn btn-primary btn-block " (click)="initNewUser()">Create New User</button>
                        <table>
                            <thead>
                                <th class="text-white">UserName</th>
                                <th class="text-white">First Name</th>
                                <th class="text-white">Last Name</th>
                                <th class="text-white">Age</th>
                                <th class="text-white">Email</th>
                                <th class="text-white">Address</th>
                                <th class="text-white">RoleId</th>
                                <th></th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of users">
                                    <td class="text-white mx-1">{{ user.userName }}</td>
                                    <td class="text-white mx-1">{{ user.firstName }}</td>
                                    <td class="text-white mx-1">{{ user.lastName }}</td>
                                    <td class="text-white mx-1">{{ user.age }}</td>
                                    <td class="text-white mx-1">{{ user.email }}</td>
                                    <td class="text-white mx-1">{{ user.address }}</td>
                                    <td class="text-white mx-1">{{ user.roleId }}</td>
                                    <td><button class="btn btn-primary btn-block " (click)="editUser(user)">Edit</button></td>
                                </tr>
                            </tbody>
                        </table>

                        <app-edit-user [user]="userToEdit" (userUpdated)="updateUserList($event)">
                        </app-edit-user>
                </div>
            </div>
        </div>
    </div>
</div>
